.app {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 400px;
  /* background-color: #555; */
  }
.app .header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #0badea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: #fff;
}

.app .game {
  width: 100%;
  height: 90vh;
  background: #000;
}
.app .game .row {
  display: flex;
  width: 100%;
  height: calc(100%/4);
}
.app .game .row .box {
  flex: 1;
  border: 1px solid #555;
  cursor: pointer;
}
.app .game .row .box.black {
  background: #111;
}
.app .game .row .box .red {
  animation: blinkRed 500ms ease-in-out infinite;
}

.grids{
  gap:3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: fit-content;
  margin-inline: auto;
  border: 1px solid #ffffff40;
  border-radius: 4px;
  padding: 3px;
}

.grid {
  width: 90px;
  /* height: 200px; */
  padding: 2px;
  background-color: black;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes blinkRed {
  0%, 100%{
    background: #fff;
  }
  50%{
    background: tomato;
  }
}