.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  font-family: 'rajdhani'
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  /* overflow: hidden; */
}

.song-name-and-icon {

  position: absolute;
  left: 3vw;
  top: 3vh;
}

.song-icon {
  width: 20.833vw;
  /* height: 9vh; */
}

.song-poster{
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 7vh;
  width: 8vh;
}

.song-name {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  left: 6vw;
  top: 0.5vh;
}

.song-name>p {
  color: white;
  font-weight: bold;
  margin: 0px;
}

.audio-timer {
  width: 20.833vw;
}

.audio-tracker {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  /* width: 40%; */
  background-color: #ffffff;
  height: 2px;
}

.audio-tracker>.time-circle {
  position: relative;
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}

.tot-line {
  position: absolute;
  width: 100%;
  background-color: #ffffff80;
  height: 2px;
}


.container.ellipse-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  /* height: 55vh; */
  width: 67vh;
  border-radius: 50%;
  border: 2vh solid #4d4d4d40;
  background-color: #00000080;
  backdrop-filter: blur(3px);
}

.ellipse {
  display: none;
  position: absolute;
  z-index: 3;
  height: 70vh;
}

.score {
  /* top: 25vh; */
  padding-top: 3vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 6.1vh;
}

.score>.curr {
  font-size: 19vh;
  line-height: 24vh;
  font-family: 'orbitron';
}

.score>.added {
  /* transition: 0.5s ease-in-out; */
  height: 8.25vh;
  line-height: 8.25vh;
  font-size: 8.25vh;
  color: #00FF0A;
  font-family: 'orbitron';
}

.score>.visible {
  opacity: 1;
}

.score>.fade-out {
  transition: opacity 0.5s ease-in;
  /*Adjust duration and timing function as needed */
  opacity: 0;
}

.score>.hidden {
  opacity: 0;
  pointer-events: none;
  /* Optional: Disable pointer events when hidden */
}

.score>.text {
  font-weight: bold;
}

.score>div {
  margin: 0px;
}

.livesLeftContainer {
  height: 25.18vh;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.lives-left-image {
  display: flex;
  gap: 2vh;
}

.lives-left-image>span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.16vh;
  width: 13.16vh;
  background-color: #ffffff;
  border-radius: 50%;
}

.lives-left-image>span.lives-lost {
  background-color: #000000;
  opacity: 0.5;
}

.livesLeftImage {
  height: 10vh;
}

.livesLostImage {
  height: 14vh;
}

.lives-text {
  font-weight: 700;
  font-family: 'rajdhani';
  font-size: 7.87vh;
}

.speaker-png {
  /* top:2vh; */
  position: absolute;
  left: -20vh;
  height: 20vh;
}



.song {
  position: absolute;
  top: 20vh;
  left: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverse {
  /* position: absolute; */
  left: 30vh !important;
  /* left: 0vh; */
  transform: scaleX(-1);
}

.score-num {
  padding: 0px;
}

.score-num>p {
  padding: 0px;
}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* width: 100vw;
  height: 100vh; */

  /* position: fixed; */
  top: 0;
  z-index: 100;
}

.file-upload h1 {
  /* max-width: 90%; */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.custom-file-input {
  text-decoration: underline;
  cursor: pointer;
}

.audio-controls {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.moreTransparent {
  opacity: 0.5;
}